header,
footer {
  background: #2382ad;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem 0;
  margin: 1rem 2rem;
  border-radius: 8px;
}

main {
  margin: 2rem;
}

.layout-container {
  display: flex;
  background: #241c44;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 2rem;
}

aside {
  background: #2382ad;
  color: #fff;
  flex: 1 1 40%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 5px;
}

section {
  flex: 2 1 60%;
  position: relative;
  background: #2382ad;
  color: #fff;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

article {
  background: #ea8e97;
  color: #fff;
  margin: 2rem auto 0;
  padding: 2rem;
  border-radius: 8px;
  width: 70%;
  font-size: 1.3rem;
}
